.itemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 10px;
    width: 100px;
  }

  .name {
    font-size: 22px;
  }
}

.green {
  color: rgb(94, 240, 94);
}

.red {
  color: rgb(228, 73, 73);
}
